In [1]:
import pandas as pd

In [3]:

df = pd.read_csv('data/train.csv')

| Variable | Definition                                  | Key                                            |
|----------|---------------------------------------------|------------------------------------------------|
| survival | Survival	                                   | 0 = No, 1 = Yes                                |
| pclass   | Ticket class                                | 	1 = 1st, 2 = 2nd, 3 = 3rd                     |
| sex	     | Sex                                         |                                                |	
| Age      | 	Age in years                               |                                                |	
| sibsp    | 	# of siblings / spouses aboard the Titanic |                                                |	
| parch    | 	# of parents / children aboard the Titanic |                                                |	
| ticket   | 	Ticket number                              |                                                |	
| fare     | 	Passenger fare                             |                                                |	
| cabin    | 	Cabin number                               |                                                |	
| embarked | 	Port of Embarkation                        | C = Cherbourg, Q = Queenstown, S = Southampton |

### Variable Notes
**pclass**: A proxy for socio-economic status (SES)

1st = Upper
2nd = Middle
3rd = Lower

**age**: Age is fractional if less than 1. If the age is estimated, is it in the form of xx.5

**sibsp**: The dataset defines family relations in this way...

**Sibling** = brother, sister, stepbrother, stepsister

**Spouse** = husband, wife (mistresses and fiancés were ignored)

**parch**: The dataset defines family relations in this way...

**Parent** = mother, father

**Child** = daughter, son, stepdaughter, stepson

**Some** children travelled only with a nanny, therefore parch=0 for them.

In [13]:
df.head(20).T

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
PassengerId,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20
Survived,0,1,1,1,0,0,0,0,1,1,1,1,0,0,0,1,0,1,0,1
Pclass,3,1,3,1,3,3,1,3,3,2,3,1,3,3,3,2,3,2,3,3
Name,"Braund, Mr. Owen Harris","Cumings, Mrs. John Bradley (Florence Briggs Th...","Heikkinen, Miss. Laina","Futrelle, Mrs. Jacques Heath (Lily May Peel)","Allen, Mr. William Henry","Moran, Mr. James","McCarthy, Mr. Timothy J","Palsson, Master. Gosta Leonard","Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)","Nasser, Mrs. Nicholas (Adele Achem)","Sandstrom, Miss. Marguerite Rut","Bonnell, Miss. Elizabeth","Saundercock, Mr. William Henry","Andersson, Mr. Anders Johan","Vestrom, Miss. Hulda Amanda Adolfina","Hewlett, Mrs. (Mary D Kingcome)","Rice, Master. Eugene","Williams, Mr. Charles Eugene","Vander Planke, Mrs. Julius (Emelia Maria Vande...","Masselmani, Mrs. Fatima"
Sex,male,female,female,female,male,male,male,male,female,female,female,female,male,male,female,female,male,male,female,female
Age,22.0,38.0,26.0,35.0,35.0,NaN,54.0,2.0,27.0,14.0,4.0,58.0,20.0,39.0,14.0,55.0,2.0,NaN,31.0,NaN
SibSp,1,1,0,1,0,0,0,3,0,1,1,0,0,1,0,0,4,0,1,0
Parch,0,0,0,0,0,0,0,1,2,0,1,0,0,5,0,0,1,0,0,0
Ticket,A/5 21171,PC 17599,STON/O2. 3101282,113803,373450,330877,17463,349909,347742,237736,PP 9549,113783,A/5. 2151,347082,350406,248706,382652,244373,345763,2649
Fare,7.25,71.2833,7.925,53.1,8.05,8.4583,51.8625,21.075,11.1333,30.0708,16.7,26.55,8.05,31.275,7.8542,16.0,29.125,13.0,18.0,7.225
Cabin,NaN,C85,NaN,C123,NaN,NaN,E46,NaN,NaN,NaN,G6,C103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Embarked,S,C,S,S,S,Q,S,S,S,C,S,S,S,S,S,S,Q,S,S,C

In [25]:
y = df['Survived']

In [26]:
df.drop(['PassengerId', 'Name', 'Ticket', 'Cabin', 'Survived'], axis=1, inplace=True)

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    891 non-null    int64
 1   Sex       891 non-null    object
 2   Age       714 non-null    float64
 3   SibSp     891 non-null    int64
 4   Parch     891 non-null    int64
 5   Fare      891 non-null    float64
 6   Embarked  889 non-null    object
dtypes: float64(2), int64(3), object(2)
memory usage: 48.9+ KB

In [28]:
df.describe()

           Pclass         Age       SibSp       Parch        Fare
count  891.000000  714.000000  891.000000  891.000000  891.000000
mean     2.308642   29.699118    0.523008    0.381594   32.204208
std      0.836071   14.526497    1.102743    0.806057   49.693429
min      1.000000    0.420000    0.000000    0.000000    0.000000
25%      2.000000   20.125000    0.000000    0.000000    7.910400
50%      3.000000   28.000000    0.000000    0.000000   14.454200
75%      3.000000   38.000000    1.000000    0.000000   31.000000
max      3.000000   80.000000    8.000000    6.000000  512.329200

In [32]:
y.value_counts()

Survived
0    549
1    342
Name: count, dtype: int64

In [33]:
df.Pclass.value_counts()

Pclass
3    491
1    216
2    184
Name: count, dtype: int64

> Возраст  - 177 пропусков

In [34]:
df.Age.notna().value_counts()

Age
True     714
False    177
Name: count, dtype: int64

In [35]:
df[df.Age.isna()]

     Pclass     Sex  Age  SibSp  Parch     Fare Embarked
5         3    male  NaN      0      0   8.4583        Q
17        2    male  NaN      0      0  13.0000        S
19        3  female  NaN      0      0   7.2250        C
26        3    male  NaN      0      0   7.2250        C
28        3  female  NaN      0      0   7.8792        Q
..      ...     ...  ...    ...    ...      ...      ...
859       3    male  NaN      0      0   7.2292        C
863       3  female  NaN      8      2  69.5500        S
868       3    male  NaN      0      0   9.5000        S
878       3    male  NaN      0      0   7.8958        S
888       3  female  NaN      1      2  23.4500        S

[177 rows x 7 columns]

> Если возраст не указан м.б. младенец и есть корреляция с суммой

In [36]:
df[((df.Fare == 0) &  (df.Pclass == 3)) & df.Age.notna()]

     Pclass   Sex   Age  SibSp  Parch  Fare Embarked
179       3  male  36.0      0      0   0.0        S
271       3  male  25.0      0      0   0.0        S
302       3  male  19.0      0      0   0.0        S
597       3  male  49.0      0      0   0.0        S

In [38]:
df

     Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         3    male  22.0      1      0   7.2500        S
1         1  female  38.0      1      0  71.2833        C
2         3  female  26.0      0      0   7.9250        S
3         1  female  35.0      1      0  53.1000        S
4         3    male  35.0      0      0   8.0500        S
..      ...     ...   ...    ...    ...      ...      ...
886       2    male  27.0      0      0  13.0000        S
887       1  female  19.0      0      0  30.0000        S
888       3  female   NaN      1      2  23.4500        S
889       1    male  26.0      0      0  30.0000        C
890       3    male  32.0      0      0   7.7500        Q

[891 rows x 7 columns]

In [42]:
df[['Pclass', 'Age', 'SibSp', 'Parch', 'Fare']].corr(method='pearson')

          Pclass       Age     SibSp     Parch      Fare
Pclass  1.000000 -0.369226  0.083081  0.018443 -0.549500
Age    -0.369226  1.000000 -0.308247 -0.189119  0.096067
SibSp   0.083081 -0.308247  1.000000  0.414838  0.159651
Parch   0.018443 -0.189119  0.414838  1.000000  0.216225
Fare   -0.549500  0.096067  0.159651  0.216225  1.000000

In [44]:
from sklearn.impute import KNNImputer

In [45]:
imputer = KNNImputer(n_neighbors=5)

In [47]:
imputer.fit(df[['Pclass', 'Age', 'SibSp', 'Parch', 'Fare']])

KNNImputer()

In [54]:
df1 = pd.DataFrame(imputer.transform(df[['Pclass', 'Age', 'SibSp', 'Parch', 'Fare']]), columns=['Pclass', 'Age', 'SibSp', 'Parch', 'Fare'])

In [67]:
df1

     Pclass   Age  SibSp  Parch     Fare
0       3.0  22.0    1.0    0.0   7.2500
1       1.0  38.0    1.0    0.0  71.2833
2       3.0  26.0    0.0    0.0   7.9250
3       1.0  35.0    1.0    0.0  53.1000
4       3.0  35.0    0.0    0.0   8.0500
..      ...   ...    ...    ...      ...
886     2.0  27.0    0.0    0.0  13.0000
887     1.0  19.0    0.0    0.0  30.0000
888     3.0  26.8    1.0    2.0  23.4500
889     1.0  26.0    0.0    0.0  30.0000
890     3.0  32.0    0.0    0.0   7.7500

[891 rows x 5 columns]

In [82]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

In [83]:
df['sen_n'] = le.fit_transform(df.Sex)

In [84]:
df['Embarked_n']=le.fit_transform(df.Embarked)

In [86]:
df[['Sex', 'Embarked', 'sen_n', 'Embarked_n']]

        Sex Embarked  sen_n  Embarked_n
0      male        S      1           2
1    female        C      0           0
2    female        S      0           2
3    female        S      0           2
4      male        S      1           2
..      ...      ...    ...         ...
886    male        S      1           2
887  female        S      0           2
888  female        S      0           2
889    male        C      1           0
890    male        Q      1           1

[891 rows x 4 columns]

In [89]:
df_full = pd.concat([df[['sen_n', 'Embarked_n']],df1], axis=1)

In [90]:
df_full

     sen_n  Embarked_n  Pclass   Age  SibSp  Parch     Fare
0        1           2     3.0  22.0    1.0    0.0   7.2500
1        0           0     1.0  38.0    1.0    0.0  71.2833
2        0           2     3.0  26.0    0.0    0.0   7.9250
3        0           2     1.0  35.0    1.0    0.0  53.1000
4        1           2     3.0  35.0    0.0    0.0   8.0500
..     ...         ...     ...   ...    ...    ...      ...
886      1           2     2.0  27.0    0.0    0.0  13.0000
887      0           2     1.0  19.0    0.0    0.0  30.0000
888      0           2     3.0  26.8    1.0    2.0  23.4500
889      1           0     1.0  26.0    0.0    0.0  30.0000
890      1           1     3.0  32.0    0.0    0.0   7.7500

[891 rows x 7 columns]

In [91]:
from sklearn.model_selection import train_test_split

In [92]:
X_train, X_test, y_train, y_test = train_test_split(df_full, y, test_size=0.33, random_state=42)

In [98]:
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier(random_state=0)

In [99]:
cross_val_score(clf, X_train, y_train, cv=10)

array([0.63333333, 0.81666667, 0.71666667, 0.81666667, 0.76666667,
       0.66666667, 0.72881356, 0.77966102, 0.81355932, 0.83050847])

In [101]:
clf.fit(X_train, y_train)

DecisionTreeClassifier(random_state=0)

In [109]:
clf.score(X_train, y_train)

0.9798657718120806

In [110]:
clf.score(X_test, y_test)

0.7694915254237288

In [102]:
prediction = clf.predict(X_test)

In [106]:
from sklearn.metrics import classification_report, f1_score

In [107]:
f1_score(y_test, prediction)

0.7094017094017094

In [108]:
print(classification_report(y_test, prediction, target_names=['Dead', 'Save']))

              precision    recall  f1-score   support

        Dead       0.80      0.82      0.81       175
        Save       0.73      0.69      0.71       120

    accuracy                           0.77       295
   macro avg       0.76      0.76      0.76       295
weighted avg       0.77      0.77      0.77       295